/*
style sheet inspired by the style sheet in Evert Padje's blog:
https://code.tutsplus.com/tutorials/how-to-create-a-phpmysql-powered-forum-from-scratch--net-10188
*/

body {
    background-color: #E0DADA;
    text-align: center;  
}
 
#wrapper {
    width: 900px;
    margin: 0 auto;             /* center the page */
}
 
#content {
    background-color: #FFFFFF;
    border: 1px solid #000;
    float: left;
    font-family: Arial;
    padding: 20px 30px;
    text-align: left;
    width: 100%;                
}
 
#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;        
    clear: both;
    width: 100%;
    height:20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: #FFF;
    text-align: left;
    font-size: 85%;
    line-height: 1.5;
}
 
#menu a:hover {
    background-color: #009FC1;
}
 
#userbar {
    background-color: #fff;
    float: right;
    width: 20;
    font-size: 14px;
}
#footer {
    clear: both;
}
/* table styles */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
 
tr {
    background-color: #FFFFFF;
    
}

 
td {
    
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
}

/*table classes */

td.categoriesimage{
    border-radius: 10px;
    width: 15%;
}

td.categoriesleftpart {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 65%;
}
 
td.categoriesrightpart {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    width: 20%;
    height: 100px;
}

td.postleftpart {
    width: 20%;
    height: 100px;
    border:1px solid #000;
    text-align: center;
    vertical-align: top; 
}

td.postrightpart {
    width: 80%;
    vertical-align: top;
}

td.replyleftpart {
    width: 20%;
    height: 100px;
    border:1px solid #000;
    text-align: center;
    vertical-align: top; 
}

td.replyrightpart {
    width: 80%;
    border:1px solid #000;
    vertical-align: top;
}

/*give tables a zebra pattern */
tr:nth-child(even){background-color: #E4E4E4}

/* font styles */
h1, #footer {
    font-family: Arial;
    color: #F1F3F1;
}
 
h3 {margin: 0; padding: 0;}

/* Menu styles */
.item {
    background-color: #103037;
    border: 1px solid #032472;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    font-family: Arial;
    padding: 3px;
    text-decoration: none;
} 

.categoryitem {
    background-color: #232524;
    border: 1px solid #032472;
    border-radius: 5px;
    color: #FFF;
    font-family: Arial;
    padding: 3px;
    padding-bottom: 1px;
    text-decoration: none;
}
a:hover{
    background-color: #009FC1;
}

.small {
    font-size: 75%;
    color: #373737;
}
#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
}
 
.topic-post {
    height: 100px;
    overflow: auto;
}
 
.post-content {
    padding: 30px;
}
.post-image {
    border-radius: 50%;
    border: 1px solid #232121;
    border-radius: 4px;
    padding: 5px;
    padding-left: 0px;
    width: 150px;
}

.date-post {
    width: 20%;
   height: 10px; 
}
 
textarea {
    width: 100%;
    height: 200px;
}
